
<h3>Hello {{name}}</h3>
<div class="container-fluid">
        <div class="row">
            <div class="col-sm 6 " style="background-color:lavender;">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus animi, iure nulla, maxime delectus veniam voluptatum facere quam nesciunt sit doloribus. Ea fugiat itaque animi, praesentium eius nobis corrupti quas!</h2>
            </div>
            <div class="col-sm 6">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam fuga, voluptatem vel laudantium aliquam asperiores ex ipsa? Autem molestias quidem doloremque laborum suscipit dolorum, eos harum quo magnam, vel perferendis.</h2>
            </div>

        </div>
    </div>